body  {
    background-color: #EAF6F6;
   }
 h1 {
    color: #3A4F7A;
 }  
 h2{
    color: #66BFBF;
 }
 h3{
    color: #66BFBF;
 }
hr {
    border-color: grey;
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    width: 50%;
   }
